name: "Terraform Deployment"

on:
  workflow_call:
    inputs:
      working-directory:
        required: true
        type: string
      container_version:
        required: true
        type: string
      environment:
        required: true
        type: string
      gcr-registry:
        required: true
        type: string
      gcr-repository:
        required: true
        type: string
    secrets:
      GCP_SA_KEY:
        required: true

jobs:
  plan:
    name: Terraform Plan
    uses: shu8hamrajput/github-reusable-workflows/.github/workflows/cd-steps/terraform-plan.yaml@main
    with:
      working-directory: ${{ inputs.working-directory }}
      environment: ${{ inputs.environment }}
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

  apply:
    name: Terraform Apply
    needs: plan
    uses: shu8hamrajput/github-reusable-workflows/.github/workflows/cd-steps/terraform-apply.yaml@main
    with:
      working-directory: ${{ inputs.working-directory }}
      environment: ${{ inputs.environment }}
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

  deploy:
    name: Deploy to GKE
    needs: apply
    uses: shu8hamrajput/github-reusable-workflows/.github/workflows/cd-steps/deploy.yaml@main
    with:
      working-directory: ${{ inputs.working-directory }}
      container_version: ${{ inputs.container_version }}
      environment: ${{ inputs.environment }}
      gcr-registry: ${{ inputs.gcr-registry }}
      gcr-repository: ${{ inputs.gcr-repository }}
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

  test:
    name: Run Acceptance Tests
    needs: deploy
    uses: shu8hamrajput/github-reusable-workflows/.github/workflows/cd-steps/acceptance-tests.yaml@main
    with:
      environment: ${{ inputs.environment }}