name: "Build and Push to GCR"

on:
  workflow_call:
    inputs:
      gcr-registry:
        required: true
        type: string
        description: "GCR registry URL (e.g., gcr.io/project-id)"
      gcr-repository:
        required: true
        type: string
        description: "Repository name in GCR"
      service-name:
        required: true
        type: string
        description: "Name of the Golang service"
      version-tag:
        required: true
        type: string
        description: "Version to tag the Docker image"
      context:
        required: false
        type: string
        description: "Build context directory"
        default: "."
    secrets:
      GCP_SA_KEY:
        required: true
        description: "GCP Service Account JSON key"

permissions:
  contents: read

jobs:
  lint-code:
    name: Lint Code
    uses: shu8hamrajput/github-reusable-workflows/.github/workflows/ci-steps/lint.yaml@main
